body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.selection-bar {
	/* padding-left: 10%;
	padding-right: 10%; */
	height: 85px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.bar-item {
	width: 150px;
	height: 40px;
}

.search-button {
	height: 40px;
	align-self: center;
}

.search-select {
	flex-direction: column;
	min-width: "50%";
}

.search-item {
	min-width: 150px;
}
